#!/usr/bin/make -f

# export DH_VERBOSE=1

# These are used for cross-compiling and for saving the configure script
# from having to guess our platform (since we know it already)
DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

# These additional compiler flags should bring up warnings about common
# sources of errors.
export CFLAGS += -g -Wall -Wformat=2 -Wunused -Wundef -Wextra -Wswitch-enum \
          -Wpointer-arith -Wnested-externs -Wbad-function-cast -Wcast-qual \
	  -Wcast-align -Wshadow

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

configure_flags = --prefix=/usr \
  --host=$(DEB_HOST_GNU_TYPE) --build=$(DEB_BUILD_GNU_TYPE)

# export DEB_BUILD_HARDENING=1

clean:
	dh_testdir
	dh_clean
	[ ! -f Makefile ] || $(MAKE) distclean
	rm -f build-stamp

config.status:
	dh_testdir
	./configure $(configure_flags) || \
	  { rc=$$?; cat config.log; exit $$rc; }

build: build-stamp
build-stamp: config.status
	dh_testdir
	$(MAKE) -C src
	touch build-stamp

binary: build-stamp
	dh_testdir
	dh_testroot
	# keep dh_install informations (debian/files) and debian/tmp
	dh_clean
	dh_installdirs

	#
	# binary
	#
	dh_install src/coco-cpp usr/bin

	#
	# shared
	#
	dh_install src/Parser.frame src/Scanner.frame  usr/share/coco-cpp

	#
	# man
	#
	dh_installman src/coco-cpp.1.gz

	#
	# --- INSTALL-ARCH-DEP ---
	#
	dh_installdeb -a
	dh_shlibdeps  -a
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a

.PHONY: clean build binary

# ----------------------------------------------------------------------------
